* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Pixel';
  src: url('../assets/fonts/Pixel.ttf');
}

[wm-flappy] {
  position: relative; 
  border: 5px solid dodgerblue; 
  height: 78vh; 
  width: 95vw; 
  margin: 5vh auto 11vh auto;
  background-image: url('https://image.freepik.com/vetores-gratis/ceu-abstrato-com-nuvens-de-cor-sol-e-nuvens-de-fundo-com-uma-cor-pastel-suave-fundo-de-paisagem-magica-de-fantasia-com-ceu-ensolarado-nublado-colorido-arco-iris-brilhante-realista-nuvem-fofa_209425-9.jpg?w=740'); 
  background-size: cover;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 50px;
  left: calc(50% - 30px);
}

.couple-barriers {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barrier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barrier .border {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #cf024a 0%, hsl(339, 82%, 58%) 51%, #f38cae 100%);
  border: 2px solid #000000ad;
  border-radius: 6px;
}

.barrier .body {
  height: 150px;
  width: 110px;
  background: linear-gradient(90deg, #fb1463 0%, #f682aa 51%, #f9c9d9 100%);
  border-left: 2px solid #000000ad;
  border-right: 2px solid #000000ad;
  
}

.progress {
  position: absolute;
  color: #FFF;
  top: -10px;
  left: 10px;
  font-family: Pixel;
  font-size: 70px;
  z-index: 100;
  text-shadow: 3px 3px 3px black;
}