* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #21102c 0%, #591983 50%, #7900c9 100%);
}

@font-face {
  font-family: 'Gamer';
  src: url('../assets/fonts/Gamer.ttf');
}

[wm-flappy] {
  position: relative; 
  border: 3px solid #36004b; 
  border-radius:10px;
  height: 78vh; 
  width: 90vw; 
  margin-top: 3.5vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url('https://image.freepik.com/vetores-gratis/ceu-abstrato-com-nuvens-de-cor-sol-e-nuvens-de-fundo-com-uma-cor-pastel-suave-fundo-de-paisagem-magica-de-fantasia-com-ceu-ensolarado-nublado-colorido-arco-iris-brilhante-realista-nuvem-fofa_209425-9.jpg?w=740'); 
  background-size: cover;
  overflow: hidden;
}

.unicornio {
  position: absolute;
  width: 45px;
  left: calc(50% - 30px);
  filter: drop-shadow(0.5px 0.5px #000000b0);
}

.couple-barriers {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barrier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barrier .border {
  height: 25px;
  width: 110px;
  background: linear-gradient(90deg, #cf024a 0%, hsl(339, 82%, 58%) 51%, #f38cae 100%);
  border: 2px solid #000000ad;
  border-radius: 6px;
}

.barrier .body {
  height: 150px;
  width: 90px;
  background: linear-gradient(90deg, #fb1463 0%, #f682aa 51%, #f9c9d9 100%);
  border-left: 2px solid #000000ad;
  border-right: 2px solid #000000ad;
  
}

.progress {
  position: absolute;
  color: #FFF;
  top: -10px;
  left: 10px;
  font-family: 'Gamer', Arial, Helvetica, sans-serif;
  font-size: 60px;
  z-index: 100;
  text-shadow: 3px 3px 3px black;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 520px) {
  [wm-flappy] {
    height: 60vh;
    margin-top: 11vh; 
  }
}
@media (max-width: 420px) {
  [wm-flappy] {
    height: 50vh;
    margin-top: 14vh; 
  }
}